.jumbotron {
    background-color: #6aa84f;
    text-align: center
}
.topnav {
    background-color: navy;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a {
    color: white;
    text-align: center;
    font-size: medium;
    padding: 14px 16px;
}