body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/Team-7-Final-Project/images/177291339.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }

div.vizContainer {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
}
@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
  background-color: #010;
}

.title {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height:2
  }
  
  h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
  }

.jumbotron {
    background-color: #6aa84f;
    text-align: center
}
.topnav {
    background-color: navy;
    overflow: hidden;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a {
    color: white;
    text-align: center;
    font-size: medium;
    padding: 14px 16px;
}